.line {
  position: absolute;
  bottom: -80px;
  width: 1200px;
  height: 0.7px;

  background: linear-gradient(
    90deg,
    transparent 0%,
    #7c3aed 25%,
    #3b82f6 50%,
    #7c3aed 75%,
    transparent 100%
  );
}
