.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 32px;
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px; */
}
.head {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #facc15;
}

.generaldiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.generaldiv > div {
  flex: 1;
}

.headSecond {
  text-transform: uppercase;
  color: rgb(51, 102, 255);
  margin-bottom: 32px;
}

.textAboutMe {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.03em;
  white-space: pre-wrap;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myImg {
  border-radius: 15px;
  max-width: 400px;
  max-height: 400px;
}

.line {
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 1px;

  background: linear-gradient(90deg, #7c3aed, #3b82f6);
}
.line {
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 0.7px;

  background: linear-gradient(
    90deg,
    transparent 0%,
    #7c3aed 25%,
    #3b82f6 50%,
    #7c3aed 75%,
    transparent 100%
  );
}
