.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 32px;
}
.generalDiv {
  position: relative;
}
.educationTitle {
  text-transform: uppercase;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #facc15;
}

.flexDiv {
  display: flex;
}
.educationImage {
  flex: 1;
}

.educationList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 30px;
}

.educationItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 15px;
  padding: 30px;
  width: 510px;
  border: 2px solid transparent;
  background:
    linear-gradient(#0a123b, #0a123b) padding-box,
    linear-gradient(90deg, #3b82f6, #ef4444) border-box;

  transition:
    transform 0.4s ease,
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease,
    box-shadow 0.4s ease;

  will-change: transform;
}

.educationIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.educationYear {
  text-align: center;
  margin-bottom: 5px;
}

.educationName {
}

.educationInstutution {
}

.line {
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}
